@page
@model IndexModel
@{
    ViewData["Title"] = "PC-Játékok"; // böngésző lap 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Játékok</h1>
    <p>Learn about <a href="Jatekok/Index">PC Játékok megekintése</a>.</p>
</div>
